/* Animations */

.animatable {
    transition: all 0.5s ease-in-out;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    z-index: 1;
}

.menu-active {
    color: #5F97F6;
    cursor: pointer;
}

.menu-inactive {
    color: #cecece;
    cursor: default;
}

#menu input[type='checkbox'] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#main {
    position: absolute;
}

#duo {
    visibility: hidden;
    position: absolute;
}

#screen {
    visibility: hidden;
    position: absolute;
}

.content {
    position: absolute;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chat-bubble {
    width: 90%;
    margin: 0 auto 0 auto;
}

#text-input {
    border: 1px solid #cbcbcb;
    border-radius: 20px;
    width: 70%;
    height: 30px;
    margin: 0 auto 0 auto;
}

#wallpaper {
    background: linear-gradient(#5f97f6, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#status {
    position: absolute;
    top: 4px;
    right: 4px;
}

.status-item {
    height: 1vh;
    padding: 2px;
    opacity: .75;
}

#time-and-date {
    text-align: center;
}

.time {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    line-height: 50px;
    font-size: 52px;
    font-weight: 600;
    text-shadow: 0px 0px 3px #b7b7b7;
}

#date {
    font-size: 12px;
}


/* Key colors */


:root {
    --regular-key-color: #484C4F;
    --meta-key-color: #373C40;
    --return-key-color: #549AF7;
    --keyboard-background-color-transparent: rgba(40, 46, 50, 0);
    --keyboard-background-color-opaque: rgba(40, 46, 50, 1);
}

#keyboard {
    background-color: var(--keyboard-background-color-transparent);
}

.keyboard-opaque {
    background-color: var(--keyboard-background-color-opaque) !important;
}

.key {
    position: absolute;
}

.regular-key {
    background-color: var(--regular-key-color);
}

.meta-key {
    background-color: var(--meta-key-color);
}

.function-key {
    background-color: var(--meta-key-color);
    border-radius: 7px;
}

.return-key {
    background-color: var(--return-key-color);
}

.space-bar {
    background-color: var(--regular-key-color);
}